{% extends "blog/base.html" %}

{% block content %}
  <h2 class="text-3xl text-green-500 font-bold mb-4">Login</h2>
  {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
  {% endif %}

  <form method="post" action="{% url 'login' %}">
  {% csrf_token %}
    <div class="mb-2">
      {{ form.username.label_tag }}
      <div class="ml-2 border-2 border-gray-400 inline mt-2 rounded">
        {{ form.username }}
      </div>
    </div>
    <div>
      {{ form.password.label_tag }}
      <div class="ml-2 border-2 border-gray-400 inline mt-2 rounded">
        {{ form.password }}
      </div>
    </div>
    <input class="px-4 py-2 font-bold bg-green-500 text-white br-rounded-lg mt-8 cursor-pointer" type="submit" value="Login" />
    <a class="px-4 py-2 font-bold text-green-500 br-rounded-lg mt-8 cursor-pointer" href="{% url 'register' %}">Register</a>
    <input type="hidden" name="next" value="{{ next }}" />
  </form>
{% endblock %}