<!DOCTYPE html>
<html>
  <head>
    <title>Test Blog</title>
  </head>
  <body class="max-w-2xl px-4 py-8 mx-auto">
    <header class="mb-8">
      <h1 class="text-2xl font-bold mb-2"><a href="/">Test Blog</a></h1>
      {% if user.is_authenticated %}
        <span class="block">
          Hello, {{ user.first_name }} {{ user.last_name }} (<a class="inline-block text-green-500" href="{% url 'logout' %}">Logout</a>)
        </span>
        <a class="block text-green-500" href="{% url 'post_new' %}">New Post</a>
      {% else %}
      <a class="block text-green-500" href="{% url 'login' %}">Login</a>
      {% endif %}
      <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    </header>
    <div>
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>